.cell {
    height: 20px;
    width: 20px;
    border-style: solid;
    border-color: #555;
    border-width: 0.5px;
    user-select: none;

}

.path:hover{
    animation: hovered 0.2s forwards;
    


}

.row {
    display: inline-block;
}

.grid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.start{
  background: green;
}

.target{
  background-color: blue;
}

.wall{
  background-color: #555;
}

@keyframes hovered {
    0% {
      
    }

    100% {
      background-color: rgb(175, 175, 175);
      transform: scale(1.3);
    }
  }

  